body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

/*Header*/
.contacts {
  font-style: normal;
  margin-left: auto;
}
.webstudio {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}
.menu-link-studio {
  position: relative;
  color: #404bbf;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
  color: #2e2f42;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.menu-link-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}
/*Header Flexbox*/

.header-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;
  /*display: flex;*/
  gap: 40px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list {
  /*display: flex;*/
  display: none;
  gap: 40px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*mob menu header*/
.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  /*visibility: hidden;*/
  opacity: 0;
  pointer-events: none;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-right: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.menu-open-btn {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.svg-menu-open {
  width: 100%;
  height: 100%;
  fill: #2f2f37;
}

.menu-close-btn {
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: 1px solid #2e2f42;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mob-nav-list {
  margin-bottom: 50px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.mob-contacts-list {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mob-contacts-item {
}
.mob-contact-link-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-decoration: none;
}
.mob-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.mob-contacts-list {
  margin-bottom: 48px;
  max-width: 193px;
}
.mob-contacts-item {
}
.mob-contact-link {
}
.mob-media-list {
  display: flex;
  justify-content: space-between;
}
.mob-media-item {
}
.mob-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  gap: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-footer-icon {
  fill: #f4f4fd;
}

/*Section1*/
.solution-title {
  color: #ffffff;
  /*font-size: 56px;*/
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  /*max-width: 496px;*/
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 48px;*/
  margin-bottom: 72px;
}

.section-header {
  /*background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/poeple-office.jpg);
  max-width: 1440px;
  width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: auto;*/
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fonmobile.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  padding: 72px 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fonmobile2x.jpg);
  }
}

.button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/*Section2*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;*/
  gap: 72px;
}
.features-item {
  /*width: calc((100% - 72px) / 4);*/
}
.container-svg {
  /*display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;*/
}
.features-title {
  display: block;
  margin-bottom: 8px;
}
.features-content {
  display: block;
}
.features-title {
  /*font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;*/
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-content {
  /*font-weight: 400;*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.svg-images {
  display: none;
  width: 64px;
  height: 64px;
}
/*Section3*/
.section-team {
  background: #f4f4fd;
  /*padding: 120px 0;*/
  padding: 96px 0;
}
.team-container {
  width: 320px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;*/
  gap: 72px;
  justify-content: center;
}
.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.cont-img-teamcard {
  padding-top: 32px;
  padding-bottom: 32px;
}
.madia-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.madia-link:hover {
  background-color: #404bbf;
}
.madia-link:focus {
  background-color: #404bbf;
}

.media-icon {
  fill: #f4f4fd;
}
.media-list-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.media-item-team {
  width: 40px;
  height: 40px;
}
.title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.text-card {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*Section4*/
.portfolio-section {
  /*padding-top: 120px;
  padding-bottom: 120px;*/
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  /*width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  width: 288px;
}
.image-portfolio {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*footer*/
.footer {
  background-color: #2e2f42;
  /*padding: 100px 0;*/
  padding: 96px 0;
}
.webstudio-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
  color: #f4f4fd;
  display: inline-block;
}
.text-footer {
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  /*max-width: 264px;*/
  text-align: left;
}
.container-media {
  display: flex;
  flex-wrap: wrap;
  /*gap: 72px;*/
  align-items: baseline;
}
.footer-logo {
  /*margin-right: 120px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 288px;
  margin-bottom: 72px;
}
.media {
  /*margin-right: 80px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  gap: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover {
  background-color: #31d0aa;
}
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
.box-subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.form-subscribe {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;*/
  gap: 16px;
  justify-content: center;
}

.input-subscribe {
  border: 1px solid #ffffff;
  border-radius: 4px;
  /*width: 264px;*/
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.frame {
  margin-left: 16px;
  fill: #fff;
}

/*modal window*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 408px;*/
  min-height: 584px;
  width: 288px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*padding: 72px 24px 24px 24px;*/
  padding: 72px 16px 24px 16px;
}
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 336px;
  margin-bottom: 24px;
}
.button-close:hover {
  background-color: #404bbf;
  border: none;
}

.button-close:focus {
  background-color: #404bbf;
  border: none;
}
.button-close:hover > .close-svg,
.button-close:focus > .close-svg {
  fill: #ffffff;
}
.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg:hover {
  fill: #ffffff;
}
.close-svg:focus {
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.box-form {
  margin-bottom: 8px;
}
.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.box-input {
  position: relative;
}

.svg-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  /*width: 360px;*/
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  border-color: #4d5ae5;
}

.input:focus + .svg-form {
  fill: #4d5ae5;
}
.input-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  /*width: 360px;*/
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
  border-color: #4d5ae5;
}
.box-comment {
  margin-bottom: 16px;
}
.box-checkbox {
  margin-bottom: 24px;
}
.input-checkbox {
  display: none;
}
.input-checkbox:checked + .label-checkbox > .span-chkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.span-chkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
  margin-right: 8px;
}

.privacy-policy {
  color: #4d5ae5;
}
.button-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
/*media*/

/*section1*/

@media screen and (min-width: 768px) {
  .solution-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
  .section-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fontablet.jpg);
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 112px 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-header {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/fontablet2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .section-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/poeple-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    margin: auto;
  }
  .solution-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-header {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }
}

/*Section2*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .features-list {
    display: flex;
    gap: 24px;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .container-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .svg-images {
    display: flex;
    width: 64px;
    height: 64px;
  }
}
/*section3*/
@media screen and (min-width: 768px) {
  .team-container {
    width: 768px;
    padding: 96px 108px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team-container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}
/*section4*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*footer*/

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 264px;
    margin-right: 24px;
  }
  .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 208px;
  }
  .box-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .form-subscribe {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
  }
  .input-subscribe {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-logo {
    max-width: 264px;
    margin-bottom: 0;
    margin-right: 120px;
  }
  .media {
    margin-bottom: 0;
    margin-right: 80px;
  }

  .input-subscribe {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
}
/*menu header*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list {
    display: block;
  }
  .webstudio {
    margin-right: 120px;
  }
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .menu-open-btn {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .webstudio {
    margin-right: 76px;
  }
}
/*modal window*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .modal {
    width: 408px;
  }
}
